/* Definir las fuentes en la parte superior del archivo CSS */
@font-face {
    font-family: 'OpalineUEL';
    src: url('../../public/fuentes/Opaline.woff') format('woff'),
        url('../../public/fuentes/Sandrina.ttf') format('truetype');
    /* Agrega otros formatos de fuente si es necesario */
}

/* Estilos generales para títulos y párrafos */
.h1 {
    font-family: 'OpalineUEL', sans-serif;
    font-size: 4rem;
    color: white;
}

.p {
    font-family: 'Sandrina', sans-serif;
    font-size: 5rem;
    margin-bottom: 0.5em;
    color: white;
}

/* Estilos para el header */
.header {
    background-color: rgba(0, 0, 0, 0.9);
    background: linear-gradient(rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url('../../assets/fondo.jpeg') no-repeat;
    background-size: cover;
    text-align: center;
    height: auto; /* Deja que la altura se ajuste automáticamente */

    /* Añadimos padding para dar espacio en la parte superior e inferior */
    padding: 3rem 0;

    /* Añadimos un margen para evitar que el contenido se desborde */
    margin: 0;
}

/* Media Query para pantallas pequeñas (menos de 600px de ancho) */
@media screen and (max-width: 600px) {
    .h1 {
        font-size: 3rem;
    }

    .p {
        font-size: 2rem;
    }

    .content {
        font-size: 1rem;
        padding-bottom: 10rem;
    }

    .navbar {
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .header .logo {
        display: none;
    }
}

/* Media Query para pantallas medianas (entre 601px y 900px de ancho) */
@media screen and (min-width: 601px) and (max-width: 900px) {
    .h1 {
        font-size: 3.5rem;
    }

    .p {
        font-size: 2rem;
    }

    .content {
        font-size: 1.5rem;
        padding-bottom: 2em;
    }

    .navbar {
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .header .logo {
        display: block;
    }
}

/* Media Query para pantallas grandes (más de 900px de ancho) */
@media screen and (min-width: 901px) {
    .h1 {
        font-size: 4rem;
    }

    .p {
        font-size: 2.5rem;
    }

    .content {
        font-size: 2rem;
        padding-bottom: 3em;
    }

    .navbar {
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1em;
        padding-bottom: 2em;
    }

    .header .logo {
        display: block;
    }
}
