.contenido {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente el contenido */
    padding-bottom: 1em;
    text-align: center; /* Centrar el texto horizontalmente */
}

.h1 {
    text-align: center; /* Centrar horizontalmente el h1 */
}

.image {
    background-position: center;
    background-size: contain;
    width: auto; /* Hace que la imagen sea completamente responsiva */
    max-height: auto; /* Altura máxima de la imagen en pantalla grande */
    margin-top: 1em; /* Espacio entre el texto y la imagen */
    margin: 0 auto; /* Centra horizontalmente la imagen */
}

/* Estilos para pantallas pequeñas (máximo 768px) */
@media screen and (max-width: 768px) {
    .image {
        max-height: 40vh; /* Altura máxima de la imagen en pantalla pequeña */
    }
}
