/* Estilos para cada tarjeta individual */
.card {
    background: rgb(5, 5, 6);
    background: linear-gradient(180deg, rgb(12, 12, 14) 0%, rgba(121, 9, 15, 1) 52%, rgba(12, 12, 14) 100%);
    text-align: center;
    transition: transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: white;
    width: 20em;
    height: 28em;
    padding: 2em;
}

.card:hover {
    transform: scale(1.05);
}

.img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1em;
}

.h3 {
    font-family: Arial !important;
    max-width: 100%;
}

.p {
    max-width: 100%;
    margin-top: 0.5em;
    font-family: Arial;
    font-size: 16px;
    color: antiquewhite !important;
}

.a {
    display: block;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    margin-top: 10px;
}

.cardGrid {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
    padding-bottom: 5em;
}



/* Media Query para pantallas pequeñas (menos de 600px de ancho) */
@media screen and (max-width: 600px) {
    .cardGrid {
        flex-direction: column;
    }
}

/* Media Query para pantallas medianas (entre 601px y 900px de ancho) */
@media screen and (min-width: 601px) and (max-width: 900px) {
    /* No se necesitan estilos adicionales ya que son iguales a los de la regla general */
}

/* Media Query para pantallas grandes (más de 900px de ancho) */
@media screen and (min-width: 901px) {
    /* No se necesitan estilos adicionales ya que son iguales a los de la regla general */
}