.h1 {
    padding-bottom: 0.5em;
}

.contenido {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

.image {
    background-image: url('../../../public/Proyecto-un-encanto.jpeg');
    background-position: center;
    background-size: contain;
    margin-top: 1em;

}