/* Estilos CSS */
.contenedor {
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido del contenedor */
    padding-bottom: 1em;
}

.contenido {
    width: 50%; /* Asigna el 50% del ancho para el contenido en todas las pantallas */
}

.imageContainer {
    width: 50%; /* Asigna el 50% del ancho para la imagen en todas las pantallas */
    text-align: right; /* Alinea la imagen a la derecha dentro de su contenedor */
}

/* Estilos para la imagen */
.image {
    width: 80%; /* Asegura que la imagen ocupe todo el ancho disponible en su contenedor */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    /* Añade otros estilos necesarios para el tamaño y apariencia de la imagen */
}

/* Estilos para los párrafos */
.p1, .p2, .p3 {
    flex: 1;
    margin-bottom: 2em;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

/* Estilos para pantallas pequeñas (máximo 768px) */
@media screen and (max-width: 768px) {
    .contenedor {
        flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
        width: 100%; /* Haz que el contenedor ocupe todo el ancho en pantallas pequeñas */
    }

    .imageContainer {
        text-align: center; /* Centra la imagen en pantallas pequeñas */
    }

    .image {
        width: 100%; /* Asegura que la imagen ocupe todo el ancho en pantallas pequeñas */
        max-width: 300px; /* Limita el ancho máximo de la imagen en pantallas pequeñas */
        height: auto; /* Mantén la altura automática para mantener la proporción cuadrada */
    }
}