.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 1em;
}

.columnaTexto {
    flex: 1;
    padding: 1em;
    text-align: left;
}

.columnaTexto p {
    font-family: Arial, sans-serif;
}

.columnaImagen {
    padding: 1em;
}

.image {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%; /* Asegura que la imagen no se desborde en pantallas pequeñas */
    height: auto; /* Ajusta la altura para mantener la relación de aspecto de la imagen */
}

/* Estilos para pantallas pequeñas (máximo 768px) */
@media screen and (max-width: 768px) {
    .contenedor {
        flex-direction: column;
        /* Cambia la dirección a columna en pantallas pequeñas */
    }

    .columnaTexto {
        text-align: center;
    }
}
