/* Estilos base */
.divForm {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Cambia 'height' a 'min-height' para evitar desbordamiento en pantallas pequeñas */
    text-align: center;
    padding: 20px;
    /* Añade un espacio interior al contenedor */
}

.titleForm {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.formMail {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

.formMail label {
    font-weight: bold;
    margin-bottom: 8px;
}

.formMail input,
.formMail textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 16px;
    outline: none;
}

.formMail button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

.formMail button:hover {
    background-color: #0056b3;
}

/* Media Query para pantallas pequeñas */
@media screen and (max-width: 600px) {
    .divForm {
        display: block;
    }

    .titleForm {
        font-size: 20px;
    }

    .formMail {
        max-width: 100%;
        padding: 10px;
        /* Añade un espacio interior al formulario */
    }

    .formMail label {
        margin-bottom: 10px;
    }

    .formMail input,
    .formMail textarea {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .formMail button {
        font-size: 16px;
        margin-top: 16px;
    }

    .p {
        font-size: 25px;
    }
}

/* Estilos para el recaptcha */
.recaptcha {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}