/* Estilos base */
.divForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.titleForm {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.formMail {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

.formMail label {
    font-weight: bold;
    margin-bottom: 8px;
}

.formMail input,
.formMail textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 16px;
    outline: none;
}

.formMail button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

.formMail button:hover {
    background-color: #0056b3;
}

/* Media Query para pantallas pequeñas */
@media screen and (max-width: 600px) {
    .divForm {
        display: block;
        /* Cambia a diseño de bloque para centrar en pantallas pequeñas */
    }

    .titleForm {
        font-size: 20px;
        /* Reduzca el tamaño del título */
    }

    .formMail {
        max-width: 100%;
        /* Ajusta el ancho máximo al 100% */
    }

    .formMail label {
        margin-bottom: 10px;
        /* Espaciado ligeramente mayor entre etiquetas */
    }

    .formMail input,
    .formMail textarea {
        font-size: 14px;
        /* Reduzca el tamaño de fuente para elementos de entrada */
        margin-bottom: 12px;
        /* Espaciado ligeramente mayor entre campos de entrada */
    }

    .formMail button {
        font-size: 16px;
        /* Reduzca el tamaño de fuente del botón */
        margin-top: 16px;
        /* Espaciado ligeramente mayor antes del botón */
    }
}

/* Contacto.module.css */
.recaptcha {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: none;
}