/* SecondaryPages.module.css */

.component {
    padding: 1em 1em;
    font-family: Arial;

    background: linear-gradient(180deg, rgba(5, 5, 6, 1) 0%, rgba(121, 9, 15, 1) 50%, rgba(5, 5, 6, 1) 100%);
    color: rgb(206, 201, 201);
}

.component p {
    margin-top: 1em;
    /* Ajusta el valor según tu preferencia para separar el encabezado del párrafo */
    margin-bottom: 0.5em;

}