.h1 {
    padding-bottom: 0.5em;
}

.contenido {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

.image {
    
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    margin-top: 2em;
}
