/* Media Query para pantallas grandes (más de 900px de ancho) */
@media screen and (min-width: 901px) {
    .h1 {
        padding-top: 1em;
        font-size: 1.5em;
        /* Ajusta el tamaño de fuente para dispositivos más pequeños */
    }

    /* Estilos para el contenido principal */
    .contenido {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 1em;
    }

    .p {
        font-family: Arial, sans-serif;
        font-size: 20px;
        margin: 0 2em;
    }

    .image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: 2em;
    }

    .lineSpacing {
        line-height: 1.5;
    }

    .centerText {
        text-align: center;
    }
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {

    /* Ajustes para dispositivos más pequeños */
    .h1 {
        font-size: 1.2em;
    }

    .image {
        width: 100%;
        height: 100%;
    }

    .lineSpacing {
        line-height: 1.5;
    }

    .centerText {
        text-align: center !important;
    }

    .p {
        font-family: Arial, sans-serif;
        font-size: 20px;
        margin: 0 2em;
        /* Ajusta el margen del párrafo según tus necesidades */
    }

    .lineSpacing {
        line-height: 1.5;
    }

    .centerText {
        text-align: center;
    }

}