.h1 {
    padding-bottom: 0.5em;
}

.contenido {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

.image {
    background-image: url('../../public/Comercial.jpeg');
    margin-top: 2em;
}