/* Estilos para pantallas grandes (más de 768px) */
@media screen and (min-width: 769px) {
    .contenedor {
        display: flex;
        flex-direction: row;
        /* La dirección flexible es fila en pantallas grandes */
        padding: 1em;
    }

    .h1Titulo {}

    .columnaTexto {
        flex: 1;
        padding-top: 1em;
    }

    .columnaTexto p {
        font-family: Arial, sans-serif;
    }

    .columnaImagen {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }

    .image {

        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        /* Asegura que la imagen ocupe todo el espacio disponible en la columna de imagen */
        height: 100%;
        /* Asegura que la imagen ocupe todo el espacio disponible en la columna de imagen */
    }
}

/* Estilos para pantallas pequeñas (máximo 768px) */
@media screen and (max-width: 768px) {
    .contenedor {
        align-items: start;
    }

    .image {
        width: 100%;
        height: 100%;
    }

    .p {
        font-size: 25px;
    }
}