.contenedor {
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
    text-align: center;
}

.columnaTexto {
    padding: 1em;
    text-align: center;
}

.columnaTexto p {
    font-family: Arial, sans-serif;
}

.columnaImagen {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.image {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
}


/* Estilos para pantallas pequeñas (máximo 768px) */
@media screen and (max-width: 768px) {
    .image {
        max-height: 40vh; /* Altura máxima de la imagen en pantalla pequeña */
        height: auto;
    }
}
