.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centrar horizontalmente el contenido */
    padding-bottom: 1em;
    text-align: center;
    /* Centrar el texto horizontalmente */
}

.image {
    background-image: url('../../../public/NuevosEmprendimientos.jpeg');
    background-position: center;
    background-size: contain;
    width: 500px;
    /* Ajusta el ancho de la imagen según tu preferencia */
    height: 400px;
    /* Ajusta el alto de la imagen según tu preferencia */
    margin-top: 1em;
    /* Espacio entre el texto y la imagen */
    margin: 0 auto;
    /* Centra horizontalmente la imagen */
}