/* Media Query para pantallas pequeñas (menos de 600px de ancho) */
@media screen and (max-width: 600px) {
    .header {
        background-color: rgba(0, 0, 0, 0.9);
        height: 100vw;
        background: linear-gradient(rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url('../../assets/fondomobile.jpeg') no-repeat;
        background-size: cover;
        text-align: center;
    }

    .header .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-family: 'North Carossela';
        font-size: 20px;
        text-align: center;
        color: #fff;
        font-weight: normal;

        height: 50%;
        /* Establecer la altura al 100% del contenedor */
        max-width: 100%;
        /* Establecer el ancho al 100% del contenedor */
    }

    .header .logo {
        display: none;
        /* background-color: rgba(0, 0, 0, 0.7);
        height: 40px;
        width: 80px;
        background-image: url('../../assets/turismo.jpg');
        background-size: cover;
        background-position: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px; */
    }

    .header .navbar {
        display: flex;
        justify-content: end;
        align-items: end;
        padding-top: 1em;
        padding-right: 1em;
        font-size: 18px;
        font-family: 'Arial';
    }
}

/* Media Query para pantallas medianas (entre 601px y 900px de ancho) */
@media screen and (min-width: 601px) and (max-width: 900px) {
    .header {
        background-color: rgba(0, 0, 0, 0.7);
        height: 50vw;
        background: linear-gradient(rgba(0, 0, 0, .90) 0%, rgba(0, 0, 0, .50) 100%), url('../../assets/fondo.jpeg') !important;
        background-size: cover;
        background-position: center;
        text-align: center;
    }

    .header .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-bottom: 15em;
        /* Ocupa todo el alto del header */

        position: relative;
        font-family: 'North Carossela';
        font-size: 30px;
        text-align: center;
        color: #fff;
        width: 80%;
        margin: 10% auto 1%;
        font-weight: normal;
    }

    .header .logo {
        background-color: rgba(0, 0, 0, 0.7);
        height: 60px;
        width: 100px;
        background-image: url('../../assets/turismo.jpg');
        background-size: cover;
        background-position: center;
        text-align: center;
        margin-right: 7em;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .header .navbar {
        display: flex;
        justify-content: end;
        align-items: end;
        padding-top: 3em;
        padding-right: 3em;
        font-size: 18px;
        font-family: 'Arial';
    }
}

/* Media Query para pantallas grandes (más de 900px de ancho) */
@media screen and (min-width: 901px) {
    .header {
        background-color: rgba(0, 0, 0, 0.7);
        height: 50vw;
        background: linear-gradient(rgba(0, 0, 0, .40) 0%, rgba(0, 0, 0, .10) 100%), url('../../assets/fondo.jpeg') no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;

    }

    .header .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-bottom: 15em;
        /* Ocupa todo el alto del header */

        position: relative;
        font-family: 'North Carossela';
        font-size: 30px;
        text-align: center;
        color: #fff;
        width: 80%;
        margin: 10% auto 1%;
        font-weight: normal;
    }

    .header .logo {
        background-color: rgba(0, 0, 0, 0.7);
        height: 60px;
        width: 100px;
        background-image: url('../../assets/turismo.jpg');
        background-size: cover;
        background-position: center;
        text-align: center;
        margin-right: 7em;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .header .navbar {
        display: flex;
        justify-content: end;
        align-items: end;
        padding-top: 1em;
        padding-right: 2em;
        font-size: 18px;
        font-family: 'Arial';
    }
}

.p {
    padding-top: 1em;
}