/* Agenda.module.css */

.contenedor {
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.columnaTexto {
    flex: 1;
    padding: 1em;
    text-align: left;
}
.p{font-family: Arial, Helvetica, sans-serif;}
.columnaTexto p {
    font-family: Arial, sans-serif;
    font-size: 25px;
}

.columnaImagen {
    flex: 1; /* Cambia a flex 1 para ocupar el mismo espacio que la columna de texto */
    padding: 1em;
    text-align: center; /* Alinea el contenido horizontalmente */
}

.image {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 90%;
    height: 90%;
}

/* Estilos para pantallas pequeñas (máximo 768px) */
@media screen and (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }

    .contenedor,
    .contenido {
        text-align: center;
        width: 150%;
        margin-left: -30px;
    }
    .columnaTexto{
        margin-left: 15px;
        text-align: center;
        width: 110%;
        margin-left: -20px;


    }
    .image{
        width: 120%;
        height: 120%; 
        margin-left: -25px;
    }
    .h1{
        font-size: 25px;
        text-align: center;
        margin-left: -30px;

    }
}
