.contenido {
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
    align-items: center;
    justify-content: space-between;
}

.image {
    width: 50%;
    max-height: 400px;
    margin-right: 1em;
}


.p {
    font-size: 28px; /* Establece el tamaño de letra para el párrafo */
    font-family: Arial, sans-serif; /* Aplica la fuente Arial al párrafo */
    text-align: left; /* Alinea el párrafo a la izquierda */
}

/* Estilos para pantallas pequeñas (máximo 768px) */
@media screen and (max-width: 768px) {
    .contenido {
        flex-direction: column;
        padding: 1em;
    }

    .image {
        width: 100%;
        height: auto;
        max-height: none;
        margin-right: 0;
        margin-top: 1em;
    }

    .p {
        font-size: 18px;
        margin-bottom: 1em;
    }

    .contenido h1 {
        text-align: center;
    }
}
