/* Media Query para pantallas grandes (más de 900px de ancho) */
@media screen and (min-width: 901px) {
    .contenedor {
        display: flex;
        flex-direction: row;
        /* Cambia a row para alinear elementos horizontalmente */
        align-items: center;
        justify-content: space-between;
        margin: 20px;
        padding: 20px;
    }

    .image {

        background-size: cover;
        background-position: center;
        width: 45%;
        height: 45%;
    }

    .columnaTexto {
        flex: 1;
        max-width: 50%;
        padding: 20px;
        text-align: left;
        /* Alinea el texto a la izquierda */
        font-family: Arial, sans-serif;
        /* Utiliza la fuente Arial para el texto */
        font-size: 25px;
    }

    .h1Titulo {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .p {
        font-family: Arial, sans-serif;
        font-size: 20px;
    }
}

/* Estilos para pantallas pequeñas (máximo 768px) */
@media screen and (max-width: 768px) {
    .contenedor {
        flex-direction: column;
        padding: 10px;
    }

    .image {
        width: 100%;
        height: 100%;
    }

    .columnaTexto {
        text-align: start;
    }

    .p {
        font-size: 25px;
    }
}