/* Estilos para pantallas grandes (más de 768px) */
@media screen and (min-width: 769px) {
    .image {
        background-size: cover;
        background-position: center;
        width: 45%;
        height: 45%;
    }

    .image iframe {
        width: 100%;
        /* Ajusta el ancho del video al 100% para que sea responsive */
        height: 400px;
        /* Ajusta la altura del video a tu preferencia */
    }

    .contenedor {
        display: flex;
        flex-direction: row;
        /* Cambia a row para alinear elementos horizontalmente */
        align-items: center;
        justify-content: space-between;
        margin: 20px;
        padding: 20px;
    }

    .image {

        background-size: cover;
        background-position: center;
        width: 45%;
        height: 45%;
    }

    .columnaTexto {
        flex: 1;
        max-width: 50%;
        padding: 20px;
        text-align: left;
        /* Alinea el texto a la izquierda */
        font-family: Arial, sans-serif;
        /* Utiliza la fuente Arial para el texto */
        font-size: 25px;
        margin: 0 4em
    }

    .h1Titulo {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .p {
        font-family: Arial, sans-serif;
        font-size: 20px;
        line-height: 1.5;
    }
}

/* Estilos para pantallas pequeñas (máximo 768px) */
@media screen and (max-width: 768px) {
    .contenedor {
        align-items: start;
    }

    .image {
        width: 100%;
        height: 100%;
    }

    .image iframe {
        width: 100%;
        /* Ajusta el ancho del video al 100% para pantallas pequeñas */
        height: 200px;
        /* Ajusta la altura del video para pantallas pequeñas */
    }

    .p {
        font-size: 25px;
        line-height: 1.5;
    }

    .h1Titulo {
        margin-top: 1em;
    }
}