/* Media Query para pantallas grandes (más de 900px de ancho) */
@media screen and (min-width: 901px) {
    .contenedor {
        display: flex;
        flex-direction: column;
        padding: 1em;
        align-items: center;
        text-align: center;
    }

    .columnaTexto {
        padding: 1em;
        text-align: center;
    }

    .p {
        font-family: Arial, sans-serif;
        font-size: 20px;
    }

    .columnaImagen {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }

    .image {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: auto;
        width: auto;
    }
}

/* Estilos para pantallas pequeñas (máximo 768px) */
@media screen and (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }

    .columnaTexto {
        text-align: start;
    }

    .image {
        max-width: 100%;
        /* Ajusta el ancho máximo de la imagen al 100% */
        height: auto;
    }

    .p {
        font-size: 25px;
    }
}