/* Media Query para pantallas grandes (más de 900px de ancho) */
@media screen and (min-width: 901px) {
    .contenedor {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* Alinea los elementos a los extremos */
        align-items: center;
        /* Centra verticalmente los elementos */
        padding: 1em;
    }

    .columnaTexto {
        flex: 1;
        padding: 1em;
        text-align: left;
    }

    .p {
        font-family: Arial, sans-serif;
        font-size: 20px;
    }

    .columnaImagen {
        padding: 1em;
    }

    .image {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 100%;
        /* Asegura que la imagen no se desborde en pantallas pequeñas */
        height: auto;
        /* Ajusta la altura para mantener la relación de aspecto de la imagen */
    }
}


/* Estilos para pantallas pequeñas (máximo 768px) */
@media screen and (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }

    .columnaTexto {
        text-align: start;
    }

    .p {
        font-size: 25px;
    }
}